* {
  margin: 0;
  padding: 0;
}

section {
  padding: 80px 8%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #2e2622;
  padding: 18px 8px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.coffee-color {
  color: #e9b44c;
}

header {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("./image/bg-image.avif");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.header-content {
  color: white;
  text-align: center;
  display: grid;
  gap: 20px;
}

.header-content button {
  width: 20%;
  margin-left: 40%;
  padding: 10px 0;
  background-color: #e9b44c;
  border-radius: 18px;
}

.our-story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  border-radius: 12px;
}

.our-story div img {
  width: 100%;
}
